<div class="container">
  <div class="row">
    <div class=col-12>
      <button id="name" >name</button>
      <button id="body" >body</button>
      <button id="genre" >genre</button>
      <button id="link" >link</button>
      <button id="delete">delete</button>
    </div>
  </div>
  <div class="row">
    <div>
      <h1 id="menu"><%= @menu.name %></h1>
    </div>
  </div>
</div>

<script>

var text =document.getElementById("menu")

const Original = "<%= @menu.name %>";

const test = function(){
  text.innerHTML  = "hoge";
}

  $("#name").click(function() {
    text.innerHTML  = "<%= @menu.name %>";
  });

  $("#body").click(function() {
    text.innerHTML  = "<%= @menu.body %>";
  });

  $("#genre").click(function() {
    text.innerHTML  = "<%= @menu.genre.name %>";
  });

  //変数名で指定することもできる
  $("#delete").click(test)

  //リンクはダメっぽい
  $("#link").click(function() {
    text.innerHTML  = "<%= link_to "top", root_path %>";
  });

</script>